name = "reverse-proxy-queue"
main = "src/index.ts"
compatibility_date = "2025-10-09"
compatibility_flags = ["nodejs_compat"]
workers_dev = true

[browser]
binding = "BROWSER"

[[kv_namespaces]]
binding = "KV"
id = "${CLOUDFLARE_KV_NAMESPACE_ID}"

[vars]
API_DOMAIN = "${API_DOMAIN}"

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
