name = "reverse-proxy-queue"
main = "src/index.ts"
compatibility_date = "2025-10-09"
workers_dev = false

[vars]
API_DOMAIN = "${API_DOMAIN}"

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
