name = "reverse-proxy-queue"
main = "src/index.ts"
compatibility_date = "2025-10-09"
compatibility_flags = ["nodejs_compat"]
workers_dev = true

[browser]
binding = "BROWSER"

[[kv_namespaces]]
binding = "KV"
id = "7912f4e878ea43408469fdca13632d5c"

[vars]
API_DOMAIN = "reverse-proxy.api.kkk4oru.com"
CACHE_VERSION = "v5"

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
